asgiref==3.8.1
beautifulsoup4==4.13.3
blinker==1.8.2
certifi==2025.1.31
channels==4.2.2
click==8.1.7
colorama==0.4.6
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.6
django-allauth==65.4.1
django-bootstrap4==25.1
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-filter==25.1
django-heroku==0.3.1
django-storages==1.14.5
filelock==3.17.0
Flask==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysqlclient==2.2.7
packaging==24.2
phonenumbers==8.13.40
pillow==11.1.0
pipenv==2024.4.1
platformdirs==4.3.6
psycopg2==2.9.10
pycryptodome==3.20.0
PyMySQL==1.1.1
soupsieve==2.6
sqlparse==0.5.3
tk==0.1.0
typing_extensions==4.12.2
tzdata==2025.1
virtualenv==20.29.2
Werkzeug==3.0.3
whitenoise==6.9.0
