{% extends 'base.html' %}

{% block content %}
<div class="story-content">
    {% if story.image %}
        <img src="{{ story.image.url }}" alt="Story Image" class="story-img">
    {% elif story.video %}
        <video class="story-video" controls>
            <source src="{{ story.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% elif story.text %}
        <p class="story-text">{{ story.text }}</p>
    {% else %}
        <p>No image/video</p>
    {% endif %}
    <p class="name">@{{ story.user.username }}</p>
</div>
{% endblock content %}